body {
  font-family: "CerebriSans-Regular", -apple-system, BlinkMacSystemFont,
    "Roboto", sans-serif;
  font-size: 18px;
  text-align: center;
  background-color: #ffffff;
  color: black;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
  margin: 10px;
}

.additional-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.additional-button {
  background-color: #e7e7e7;
  color: #000000;
  border: none;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  flex: 1;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.additional-button:hover {
  background-color: #dfdfdf;
}

span {
  font-size: 30px;
  font-weight: 600;
}

#notesContainer {
  margin-top: 20px;
}

.charwithbutton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#notesInput {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  font-size: 16px;
  cursor: pointer;
  align-items: center;
}

#characterCard {
  margin-top: 20px;
}

ul {
  text-align: left;
  padding-left: 20px;
}

/* CSS */
.button-generate {
  padding: 10px;
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-generate:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-generate:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-generate:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.button-generate:disabled {
  background-color: gray;
  box-shadow: #c0c0c0 0 3px 7px inset;
  color: #fff;
  transform: translateY(2px);
}

.language-buttons {
  display: flex;
  gap: 15px;
}

.lang-btn {
  color: #000000;
  background-color: #fff;
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.lang-btn img {
  width: 24px;
  height: 24px;
}

.lang-btn:hover {
  background-color: #007bff;
  color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.lang-btn:focus {
  outline: none;
  background-color: #0056b3;
  color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.title {
  width: 100%; /* Ширина на весь екран */
  height: auto; /* Зберігає пропорції */
  display: block;
  position: relative; /* Для переміщення за допомогою анімації */
  animation: moveUp 3s forwards; /* Викликаємо анімацію */
}

/* Опис анімації */
@keyframes moveUp {
  from {
    top: 30vh; /* Початкова позиція */
  }
  to {
    top: 10vh; /* Кінцева позиція */
  }
}

.background {
  background-position: center;
  background-image: url("images/bg.png"); /* Шлях до зображення */
  position: fixed; /* Фіксація на задньому плані */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-repeat: repeat-y; /* Повторення по вертикалі */
  background-size: cover;
  animation: moveBackground 6s linear infinite; /* Анімація */
}

/* Анімація */
@keyframes moveBackground {
  from {
    background-position: 0 0; /* Початкова позиція */
  }
  to {
    background-position: 0 100vh; /* Зміщення вниз */
  }
}

.title-label {
  width: 100%; /* Ширина на весь екран */
  height: auto; /* Зберігає пропорції */
  max-width: 702px;
}
